*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.part1{
    background-image: url(img/bg-2.jpg);
    height: 800px;
    background-repeat: no-repeat;
    background-size: 100%;
    

}
.border
{
    font-size:3vw;
  padding: 0 20vw ;
 margin-top: 5vw;
 opacity: 0.7;
}
.svs-icon img{
    height: 150px;

}